.clearfix:after
  content: '.';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
.clearfix
  zoom: 1;
.padding-left-right-15px
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
.icon-right
  position: relative;
  &::after
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    margin: auto;
.no-wrap
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
